@model IEnumerable<NavyAccountCore.Models.LoandiscVM>
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1 class="header-title">
        Loan Update
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Generate Loan Update</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Loan Update</h5>
            </div>

            <h3  class="alert-success">@TempData["message"]</h3>
            <div class="card-body">
                <div class="row">
                  
                        

                 
                    <div class="col-md-4">
                        @using (Html.BeginForm("Loanledgerupdate", "LoanDisc", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                           <div class="col-md-8">
                                <div class="form-group">
                                    <label>Loan Type</label>
                                    @Html.DropDownList("loantype", new SelectList(ViewBag.getloantype, "Id", "Description"), new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="Update" />
                            </div>
                        }
                    </div>

                </div>
                @if (Model != null && Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Account</th>
                            <th>Name</th>
                            <th>Amount</th>
                          
                        </tr>

                        @foreach (var j in Model)
                        {
                            <tr>
                                <td>@j.loanact</td>
                                <td>@j.personname</td>
                                <td>@Math.Round(j.loanpay,2)</td>
                               
                                @*<td><a href="@Url.Action("LoanDisc","delete",new{@j.Id})" class="btn btn-danger"></a></td>*@
                            </tr>
                        }

                    </table>

                }

            </div>



        </div>
    </div>
</div>
