@model IEnumerable<NavyAccountCore.Models.InvestmentView>
 @using Microsoft.AspNetCore.Http;
 @{
        Layout = null;

 }
    <!DOCTYPE html>
    <html>
    <body>
        <h2 style="text-align:center">NIGERIAN NAVY DIRECTORATE OF NON-PUBLIC FUND</h2>
        <h2 style="text-align:center">NAVIP, DEPENDANT FUND AND WELFARE LOAN PORTFOLIOS</h2>

        <table border="2" cellpadding="2" cellspacing="0" width="100%">

            <tr>
                 <th>S/N</th>
                <th>Investment Type</th>
                <th>Date</th>
                <th>Issuance Bank</th>
                <th>Stock Name</th>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>Unit</th>


            </tr>
            @foreach (var a in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>

                    <td> @Html.DisplayFor(modelItem => a.Index)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.InvestmentType)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.Date)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.issuancebank)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.StockName)</td>
                    <td> @string.Format("{0:n}", a.Data.Amount)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.TransactionType)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.unit)</td>

                </tr>
            }
        </table>
    </body>
</html>
