@model IEnumerable<NavyAccountWeb.ViewModels.StudentClaimViewModel>

@{
    Layout = null;
    decimal total = 0M;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClaimSummaryReport</title>
</head>
<body>
    <h6 style="text-align:center">RETRICTED</h6>
    <h2 style="text-align:center">NIGERIAN NAVY DIRECTORATE OF NON-PUBLIC FUND</h2>
    <h2 style="text-align:center">SCHOOL WALFARE SCHEME</h2>
    Claim Summary Report: Produce On @DateTime.Now
    <div class="card-body">
        <table border="2" cellpadding="2" cellspacing="0" width="100%">
            <tr>
                <th>Reg number</th>
                <th>Full Name</th>
                <th>School Name</th>
                <th>Class</th>
                <th>Trans Date</th>
                <th>Voucher Number</th>
                <th>Session</th>
                <th>Term</th>
                <th>Claim Amount</th>

            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="12"><b>No Record Found</b></td>
                </tr>
            }
            else
            {
                @foreach (var b in Model)
                    {
                    <tr>
                        <td>@b.Reg_Number</td>
                        <td>@b.StudentName</td>
                        <td>@b.SchoolName</td>
                        <td>@b.ClassName</td>
                        <td>@b.TransDate.Value.ToShortDateString()</td>
                        <td>@b.VoucherNo</td>
                        <td>@b.session</td>
                        <td>@b.Term</td>
                        <td>@Math.Round(b.ClaimAmount.Value, 2)</td>

                    </tr> 

                      total += (decimal)b.ClaimAmount;
                    
                    }
                    <tr>
                       <td colspan="8" style="font-weight:bold">Total</td>
                       <td style="font-weight:bold">@Math.Round(total,2)</td>

                    </tr>
                    
                }
        </table>
        <h6 style="text-align:center">RETRICTED</h6>
    </div>
</body>
</html>
