@using Microsoft.AspNetCore.Http;
@using NavyAccountCore.Core.Entities
@model IEnumerable<NavyAccountCore.Entities.sr_SchoolRecord>
@{ ViewData["Title"] = "Home";
                Layout = "~/Views/Shared/_SchoolLayout.cshtml"; }

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <h1 class="sr-only">Dashboard</h1>
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">

            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <h1 style="color:white"></h1>


                </ol>
            </div>

            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                            <div class="align-self-center">
                                <h3 class="text-muted m-t-10 m-b-0">SECONDARY SCHOOLS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*@foreach (var s in Model)
        {*@
    <div class="row">

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS OJO").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS OJO").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS ABEOKUTA").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS ABEOKUTA").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                             <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS PORT HARCOURT").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS PORT HARCOURT").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS CALABAR").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS CALABAR").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS OGBOMOSO").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS OGBOMOSO").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                            <div class="align-self-center">
                                <h6 class="text-muted m-t-10 m-b-0">
                                    @Model.Where(s => s.Schoolname == "NNSS IMERI").FirstOrDefault().Schoolname
                                </h6>
                                <strong>
                                    @Model.Where(s => s.Schoolname == "NNSS IMERI").FirstOrDefault().SchoolCount
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS OKURA").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS OKURA").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">
                                @Model.Where(s => s.Schoolname == "NNSS KUJE").FirstOrDefault().Schoolname
                            </h6>
                            <strong>
                                @Model.Where(s => s.Schoolname == "NNSS KUJE").FirstOrDefault().SchoolCount
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <!--Primary School-->
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex no-block">
                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                        <div class="align-self-center">
                                                            <h3 class="text-muted m-t-10 m-b-0">PRIMARY SCHOOLS</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS OJO").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS OJO").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                                <h6 class="text-muted m-t-10 m-b-0">
                                                                                    @Model.Where(s => s.Schoolname == "NNPS MOBIL ROAD").FirstOrDefault().Schoolname
                                                                                </h6>
                                                                                <strong>
                                                                                    @Model.Where(s => s.Schoolname == "NNPS MOBIL ROAD").FirstOrDefault().SchoolCount
                                                                                </strong>

</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                                <h6 class="text-muted m-t-10 m-b-0">
                                                                                    @Model.Where(s => s.Schoolname == "NNPS OKOKOMAIKO").FirstOrDefault().Schoolname
                                                                                </h6>
                                                                                <strong>
                                                                                    @Model.Where(s => s.Schoolname == "NNPS OKOKOMAIKO").FirstOrDefault().SchoolCount
                                                                                </strong>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS CALABAR").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS CALABAR").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS ONNE").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS ONNE").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                      
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS BORIKIRI").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS BORIKIRI").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
            
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS PATHFINDER").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS PATHFINDER").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                            
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS OGHARA").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS OGHARA").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex no-block">
                                                                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                                                                        <div class="align-self-center">
                                                                            <h6 class="text-muted m-t-10 m-b-0">
                                                                                @Model.Where(s => s.Schoolname == "NNPS KUJE").FirstOrDefault().Schoolname
                                                                            </h6>
                                                                            <strong>
                                                                                @Model.Where(s => s.Schoolname == "NNPS KUJE").FirstOrDefault().SchoolCount
                                                                            </strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
    </div>
</div>
<div class="row">
    <div style="height:400px">

    </div>
</div>
<!-- END MAIN CONTENT -->
