@model IEnumerable<NavyAccountCore.Models.StudentReport>

@{
    Layout = null;
    decimal total = 0M;
    decimal total2 = 0M;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClaimSummaryReport</title>
</head>
<body>
    <h6 style="text-align:center">RETRICTED</h6>
    <h2 style="text-align:center">NIGERIAN NAVY DIRECTORATE OF NON-PUBLIC FUND</h2>
    <h2 style="text-align:center">SCHOOL WALFARE SCHEME</h2>
    Claim Summary Report: Produce On @DateTime.Now
<div class="card-body">
    <table border="2" cellpadding="2" cellspacing="0" width="100%">
        <tr><td><h3>CLAIM  HISTORY</h3></td></tr>
        <tr>
            <th>Reg number</th>
            <th>Full Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>School Name</th>
            <th>Class</th>
            <th>Parent Name</th>
            <th>Parent Status</th>
            <th>Term</th>
            <th>Session</th>


        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="12"><b>No Record Found</b></td>
            </tr>
        }
        else
        {
            @foreach (var b in Model)
            {
            <tr>
                <td>@b.Reg_Number</td>
                <td>@b.StudentName</td>
                <td>@b.Sex</td>
                <td>@b.Age</td>
                <td>@b.SchoolName</td>
                <td>@b.ClassName</td>
                <td>@b.ParentName</td>
                <td>@b.ParentalStatus</td>
                <td>@b.Term</td>
                <td>@b.Session</td>

            </tr>

            }
         

        }

    </table>
    
    <h6 style="text-align:center">RETRICTED</h6>
</div>
</body>
</html>
