@model IEnumerable<NavyAccountCore.Models.LoanRegisterViewModel222>
@using Microsoft.AspNetCore.Http;
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<body>
    <h2 style="text-align:center">NIGERIAN NAVY DIRECTORATE OF NON-PUBLIC FUND</h2>
    <h2 style="text-align:center">NAVIP, DEPENDANT FUND AND WELFARE LOAN PORTFOLIOS</h2>
    Loan Register: Produce On @DateTime.Now <h3>Loan Type: @Model.FirstOrDefault().LoanTypeDesc  Tenure: @Model.FirstOrDefault().Tenure</h3>
    <div class="card-body">
        <table border="2" cellpadding="2" cellspacing="0" width="100%">
            <tr>
                <th>S/No</th>
                <th>Rank</th>
                <th>Service No</th>
                <th>Full Name</th>
                <th>Amount</th>
                <th>Status</th>

            </tr>

            @foreach (var a in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => a.Index)</td>
                    <td>@Html.DisplayFor(modelItem => a.Data.rank)</td>
                    <td>@Html.DisplayFor(modelItem => a.Data.svcno)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.Name) </td>
                    @*<td> @Html.DisplayFor(modelItem => a.Data.LoanTypeDesc) </td>
                    <td> @Html.DisplayFor(modelItem => a.Data.Tenure)</td>*@
                    <td> @Html.DisplayFor(modelItem => a.Data.Amount)</td>
                    <td> @Html.DisplayFor(modelItem => a.Data.Status)</td>

                </tr>
            }
        </table>
    </div>
</body>
</html>

