@model IEnumerable<NavyAccountCore.Models.navipVM5>
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<body>
    <h6 style="text-align:center">RETRICTED</h6>
    <h2 style="text-align:center">NIGERIAN NAVY DIRECTORATE OF NON-PUBLIC FUND</h2>
    <h2 style="text-align:center">SCHEDULE OF PAYMENT FOR DEPENDANT FUND BENEFICIARIES  </h2>

    <h3></h3>
    <span style="float:right;position:relative;top:-25px;"><b>Produced on:</b>@DateTime.Now.ToShortDateString()</span>
    @if (Model != null && Model.Any())
    {
        var firstItem = Model.First();
        <span class="date-range">
            <b>Period:</b> @firstItem.startdate.ToShortDateString() - @firstItem.enddate.ToShortDateString()
        </span>
    }
    <table border="2" cellpadding="2" cellspacing="0" width="100%">
        <tr>
            <th>Account Name</th>
            <th>Designation</th>
            <th>Bank</th>
            <th>Account Number</th>
            <th>Amount</th>
            <th>Remark</th>
        </tr>

        @if (Model.Count() > 0)
        {
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.Name</td>
                    <td>@a.rank</td>
                    <td>@a.bank</td>
                    <td>@a.acctno</td>
                    <td>@string.Format("{0:n}", Math.Round(a.grandsuvaltotal,2))</td>
                    <td>@a.remark</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" style="width:300px; text-align:center;">No Record found</td>
            </tr>
        }

    </table>
    <h6 style="text-align:center">RETRICTED</h6>


</body>
</html>